        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Shopping Cart</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Action Buttons -->
						<div class="pull-right">
							<a href="#" class="btn btn-grey"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
							<a href="#" class="btn"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- Shopping Cart Items -->
						{{#if products}}
							<table class="shopping-cart">
							{{#each products}}
							<!-- Shopping Cart Item -->
								<tr>
									<!-- Shopping Cart Item Image -->
									<td class="image"><a href="/product/{{id}}"><img src="images/products/{{id}}.jpg" alt="Item Name"></a></td>
									<!-- Shopping Cart Item Description & Features -->
									<td>
										<div class="cart-item-title"><a href="/product/{{id}}">{{title}}</a></div>
										<div class="feature color">
											Color: <span class="color-white"></span>
										</div>
										<div class="feature">Size: <b>XXL</b></div>
									</td>
									<!-- Shopping Cart Item Quantity -->
									<td class="quantity">
										<input class="form-control input-sm input-micro" type="text" value="{{qty}}">
									</td>
									<!-- Shopping Cart Item Price -->
									<td class="price">{{price}}</td>
									<!-- Shopping Cart Item Actions -->
									<td class="actions">
										<a href="#" class="btn btn-xs btn-grey"><i class="glyphicon glyphicon-trash"></i></a>
									</td>
								</tr>							
							{{/each}}
							</table>
						{{/if}}
						<!-- End Shopping Cart Items -->
					</div>
				</div>
				<div class="row">
					<!-- Promotion Code -->
					<div class="col-md-4  col-md-offset-0 col-sm-6 col-sm-offset-6">
						<div class="cart-promo-code">
							<h6><i class="glyphicon glyphicon-gift"></i> Have a promotion code?</h6>
							<div class="input-group">
								<input class="form-control input-sm" id="appendedInputButton" type="text" value="">
								<span class="input-group-btn">
									<button class="btn btn-sm btn-grey" type="button">Apply</button>
								</span>
							</div>
						</div>
					</div>
					<!-- Shipment Options -->
					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
						<div class="cart-shippment-options">
							<h6><i class="glyphicon glyphicon-plane"></i> Shippment options</h6>
							<div class="input-append">
								<select class="form-control input-sm">
									<option value="1">Standard - FREE</option>
									<option value="2">Next day delivery - $10.00</option>
								</select>
							</div>
						</div>
					</div>
					
					<!-- Shopping Cart Totals -->
					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6">
						<table class="cart-totals">
							<tr>
								<td><b>Shipping</b></td>
								<td>Free</td>
							</tr>
							<tr>
								<td><b>Discount</b></td>
								<td>- $18.00</td>
							</tr>
							<tr class="cart-grand-total">
								<td><b>Total</b></td>
								<td><b>$163.55</b></td>
							</tr>
						</table>
						<!-- Action Buttons -->
						<div class="pull-right">
							<a href="#" class="btn btn-grey"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
							<a href="#" class="btn"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="javascripts/jquery.fitvids.js"></script>
        <script src="javascripts/jquery.sequence-min.js"></script>
        <script src="javascripts/jquery.bxslider.js"></script>
        <script src="javascripts/main-menu.js"></script>
        <script src="javascripts/template.js"></script>
        <script src="javascripts/cart.js"></script>